@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
html {
    box-sizing: border-box;
    /*Pra que no nos afecte el padding*/
    font-size: 62.5%;
    /** Reset para rems, -62.5% = 10 px de 16 px*/
}

*,
*:before,
*:after {
    /*Para que siempre se mantenga el ancho y el largo, e ignore al padding*/
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}


/**Globales - contenido que es reutizable.**/


/*Para las imagenes que no salgan grandotas, afecta todas las imagenes, para que sean responsivas*/


/*Es una declaracion importante*/


/*Hace que las imagenes se ajusten al contenedor*/

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 140rem;
    /** = 1200px; **/
    margin: 0 auto;
}

.texto-brexia {
    font-size: 17px;
    font-weight: 400;
    line-height: 2.1rem;
}


/*Sistema para el tama;o de palabras, en los headers*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*Top Header*/

.top-header {
    background-color: #c787a2;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 100%;
    position: fixed;
    text-align: center;
    word-wrap: break-word;
    z-index: 1;
}

.top-header p {
    font-size: 14.5px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0;
}


/*MId header*/

.mid-header {
    margin: 0rem auto 0rem;
    padding-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/*
.mid-header {
    margin: 0rem auto 0rem;
    padding-top: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.deepmid-header {
    flex-basis: calc(43% - 1rem);
}
*/

.mid-font {
    font-size: 18px;
    font-weight: bold;
    color: #a3a3a3 !important;
    line-height: 2rem;
    padding-top: 3.5rem;
}

.mid-font a {
    text-decoration: none;
    color: #a3a3a3 !important;
}

.mid-font a:hover {
    color: #a3a3a3 !important;
}

.mid-font a:hover {
    color: #a3a3a3 !important;
}

.mid-font a:focus {
    color: #a3a3a3 !important;
}

.mid-image {
    text-align: center;
}


/*Redes Sociales*/

.icono {
    /*flex-basis: 20rem; /*para el ancho*/
    /*pensando mas a futuro usamos procentajes, en lo de responsive web desing*/
    flex-basis: calc(44.4% - 10px);
    /*Tomas el 100 por ciento y lo divides entre 3*/
    /*Usamos calc para realizar una operacion matematica*/
    text-align: center;
    /*Alinea al centro el texto e imagenes, además existe right, left,justify.*/
}

.company-social {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3rem;
    text-align: center;
    list-style: none;
}

.company-social li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.company-social a {
    margin: 0 2px 0 0;
}

.company-social a:hover {
    color: #fff;
}

.company-social a i {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.company-social .social-facebook a i {
    background-color: #a3a3a3;
}

.company-social .social-twitter a i {
    background-color: #a3a3a3;
}

.company-social .social-instagram a i {
    background-color: #a3a3a3;
}

.company-social .social-whatsapp a i {
    background-color: #a3a3a3;
}

.company-social .social-youtube a i {
    background-color: #a3a3a3;
}

.company-social .social-facebook a:hover i {
    background: #4893ce;
}

.company-social .social-twitter a:hover i {
    background: #82e6ff;
}

.company-social .social-instagram a:hover i {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
}

.company-social .social-whatsapp a:hover i {
    background: #128c7e;
}

.company-social .social-youtube a:hover i {
    background: red;
}


/*Low Header*/

.low-header {
    padding-top: 7rem;
    text-align: center;
    list-style: none;
    padding-top: 3rem;
}

.low-header li {
    display: inline;
    padding-right: 2.3vw;
}

.low-header a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #a86182;
}

.low-header ul li a:focus {
    color: #7a3a58 !important;
}

.low-header ul li a:hover {
    color: #7a3a58!important;
}

.low-header ul li a:active {
    color: #7a3a58!important;
}

.low-header ul {
    padding-left: 2.2rem !important;
}


/*Hamburger Menu*/


/* ### GENERAL SITE STYLES ### */

#site-wrapper {
    z-index: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#site-canvas {
    width: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.show-nav #site-canvas {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-transform: translate3d(100vw, 0, 0);
    transform: translate3d(100vw, 0, 0);
}


/* ### MENU STYLES ### */

#site-menu {
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    background: #222;
}

.resaltar {
    list-style: none;
}

.site-menu-content {
    width: 100%;
    max-width: 760px;
    margin: 0px auto;
    padding: 20px;
    font-family: 'Roboto Slab', sans-serif;
}

.site-menu ul {
    list-style: none;
}

#site-menu i {
    color: white;
    font-size: 2em;
}

#site-menu a {
    display: block;
    padding: 0.7em 0em 0.7em 0em;
    outline: none;
    box-shadow: none;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

#site-menu a:hover {
    color: #f4f4f4;
}


/* ### GENERAL CONTENT STYLES ### */

.menu-a {
    text-decoration: none;
    color: rgba(86, 178, 171, 0.5);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

.menu-a:hover {
    color: rgb(86, 178, 171);
}

.contentido p {
    font-size: 2px;
}

.nav-icon:hover {
    color: rgb(86, 178, 171);
}

.color-brexia {
    color: #c787a2;
    font-size: 4em !important;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

.justificar {
    float: right;
    padding-top: 0.9rem;
    padding-right: 5rem;
}

@media (min-width: 886px) {
    .contentido {
        display: none;
    }
    .mostrar-texto {
        display: none;
    }
}

@media (max-width: 886px) {
    .icono {
        display: none;
    }
    .mid-font {
        display: none;
    }
    .mid-header {
        margin: 0rem auto 0rem;
        padding-top: 3.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /*
    .mid-header {
        margin: 0rem auto 0rem;
        padding-top: 3.2rem;
        display: flex;
        justify-content: space-evenly;
    }
    .deepmid-header {
        flex-basis: calc(20% - 1rem);
    }
    */
    .contenedor.low-header {
        display: none;
    }
    .mid-image img {
        min-width: 150px;
        margin-left: 23px;
    }
    .top-header p {
        font-size: 10px;
    }
}


/*FOOTER*/

footer {
    position: relative;
    width: 100%;
}

.linea {
    border-top: 3px solid #914568;
    height: 10px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 18px;
}

.linea-1 {
    border-top: 2px solid #914568;
    max-width: 34%;
    padding-top: 10px;
    margin: 0 auto;
}

.deepfooter {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #914568;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 100% !important;
}

.deepfooter p {
    font-size: 11px;
    font-weight: lighter;
    text-align: center;
    color: white;
    margin: 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor-footer {
    width: 80%;
    max-width: 140rem;
    /** = 1200px; **/
    margin: 0 auto;
}

.llamanos-footer a {
    font-size: 19px;
    color: #b06b8c;
}

.boton-brexia-footer {
    background: #c787a2;
    font-size: 14px;
    text-decoration: none;
    height: 55px;
    width: 150px;
    margin-bottom: 10px;
    color: white;
}

.boton-brexia-footer:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px #b46a8a;
    transition: all 0.2s ease;
}

.text-footer {
    font-size: 15px;
    font-weight: bold;
    color: #979696 !important;
    line-height: 2rem;
}

.redes-footer {
    flex-basis: calc(44.4% - 10px);
    text-align: center;
}

@media (max-width: 886px) {
    .footer-grid {
        display: block;
        grid-template-rows: repeat(2, 1fr);
    }
    .contenedor-footer {
        width: 100%;
        max-width: 140rem;
        /** = 1200px; **/
        margin: 0 auto;
    }
    .ocultar-text {
        display: none;
    }
    .llamanos-footer {
        margin-bottom: 2rem;
    }
    .text-footer {
        margin-top: -2rem;
    }
    .br-footer {
        display: none;
    }
    .boton-brexia-footer {
        background: #c787a2;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        height: 40px;
        width: 150px;
        margin-bottom: 10px;
        color: white;
    }
    .redes-footer {
        margin-top: -4rem;
    }
}

.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background: #222;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

a.scrollup {
    outline: 0;
    text-align: center;
}

a.scrollup:hover,
a.scrollup:active,
a.scrollup:focus {
    opacity: 1;
    text-decoration: none;
}

a.scrollup i {
    margin-top: 10px;
    color: #fff;
}

a.scrollup i:hover {
    text-decoration: none;
}


/*PAGINA PRINCIPAL*/

.intro-content img {
    padding-top: 0px;
    max-width: 70%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.principal-content {
    background: #FFF;
    padding-top: 35px;
    max-width: 65%;
    margin: 0 auto;
}

.boton-brexia {
    background: #c787a2;
    font-weight: bold;
    text-decoration: none;
    height: 45px;
    width: 290px;
    margin-bottom: 20px;
    font-size: 14px;
    color: white;
}

.boton-brexia:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px #b46a8a;
    transition: all 0.2s ease;
}

.video-size {
    width: 100%;
    min-height: 310px;
}

.brexia-h1 h1 {
    color: #914568;
    font-size: 45px;
    font-weight: bold !important;
    letter-spacing: -2pt;
}

.brexia-h2 h2 {
    color: #914568;
    font-weight: bold;
    font-size: 33px;
}

.mostrar-texto {
    font-size: 15px;
    font-weight: bold;
    color: #979696 !important;
    line-height: 2rem;
}

@media (max-width: 886px) {
    .boton-brexia {
        background: #c787a2;
        font-weight: bold;
        text-decoration: none;
        height: 45px;
        width: 290px;
        margin-bottom: 20px;
        font-size: 14px;
        color: white;
    }
    .low-header {
        display: none;
    }
    .intro-content img {
        max-width: 100%;
    }
    .principal-content {
        background: #FFF;
        padding-top: 5px;
        max-width: 90%;
        margin: 0 auto;
    }
    .contenedor-2 {
        max-width: 70% !important;
        /** Igual a 1200 px**/
        margin: 0 auto;
        /** atajo, para alinear**/
        /**es para centrar la mayoria de elementos*/
    }
    .contenedor-3 {
        max-width: 80% !important;
        /** Igual a 1200 px**/
        margin: 0 auto;
        /** atajo, para alinear**/
        /**es para centrar la mayoria de elementos*/
    }
    .contenedor-4 {
        max-width: 80% !important;
        /** Igual a 1200 px**/
        margin: 0 auto;
        /** atajo, para alinear**/
        /**es para centrar la mayoria de elementos*/
    }
    .contenedor-5 {
        max-width: 80% !important;
        /** Igual a 1200 px**/
        margin: 0 auto;
        /** atajo, para alinear**/
        /**es para centrar la mayoria de elementos*/
    }
    .contenedor-5 img {
        max-width: 100% !important;
        /** Igual a 1200 px**/
        margin: 0 auto;
        /** atajo, para alinear**/
        /**es para centrar la mayoria de elementos*/
    }
    .contenedor-4 img {
        width: 100% !important;
        display: flex;
        margin: auto;
    }
    .brexia-h1 h1 {
        color: #914568;
        font-size: 30px;
        font-weight: bold !important;
        letter-spacing: 1.1pt;
    }
    .brexia-h2 h2 {
        color: #914568;
        font-weight: bold;
        font-size: 23px;
    }
    .fondo-tipos-de-cancer h1 {
        color: #914568;
        font-size: 48px;
        padding-top: 6rem;
        text-align: center;
        font-weight: 700;
        padding-left: 10rem;
    }
}

@media (max-width: 910px) {
    .ocultar-h1 {
        display: none;
    }
    .fondo-tipos-de-cancer {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center;
        column-gap: 1rem;
    }
}


/*Aquí empieza la sección de la perstaña, como-tratamos-el-cancer*/

.fondo-tipos-de-cancer {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    column-gap: 1rem;
}

.fondo-tipos-de-cancer h1 {
    color: #914568;
    font-size: 3vw;
    padding-top: 6rem;
    text-align: center;
    font-weight: 700;
    padding-left: 20rem;
}

.contenedor-2 {
    max-width: 40%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}

.contenedor-3 {
    max-width: 70%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}

.contenedor-4 {
    max-width: 50%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}

.contenedor-5 {
    max-width: 100%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}

.contenedor-3 p {
    font-size: 16px;
    max-width: 65%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}

.formato-h2 {
    color: #914568;
    font-size: 35px;
    font-weight: 700;
}

.formato-h1 {
    color: #914568;
    font-size: 40px;
    font-weight: 700;
}

.contenedor-2 img {
    width: 50%;
    display: flex;
    margin: auto;
}

.contenedor-4 img {
    width: 50%;
    display: flex;
    margin: auto;
}

.contenedor-5 img {
    max-width: 100%;
    /** Igual a 1200 px**/
    margin: 0 auto;
    /** atajo, para alinear**/
    /**es para centrar la mayoria de elementos*/
}


/*Tipos de cancer*/

.espacio-boton button {
    margin-bottom: 2.65rem;
}


/*Contacto*/

.linea-c {
    border-top: 1px solid #914568;
    height: 10px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.llama-tel {
    color: #914568;
    font-size: 16px;
    font-weight: 700;
}


/*Redes sociales de contacto-*/

.company-social-c {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3rem;
    text-align: center;
    list-style: none;
}

.company-social-c li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.company-social-c a {
    margin: 0 2px 0 0;
}

.company-social-c a:hover {
    color: #fff;
}

.company-social-c a i {
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 0px 0px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;
    width: 54px;
}

.company-social-c .social-facebook a i {
    background-color: #914568;
}

.company-social-c .social-map-marker a i {
    background-color: #914568;
}

.company-social-c .social-waze a i {
    background-color: #914568;
}

.company-social-c .social-whatsapp a i {
    background-color: #914568;
}

.company-social-c .social-youtube a i {
    background-color: #914568;
}

.company-social-c .social-facebook a:hover i {
    background: #4893ce;
}

.company-social-c .social-map-marker a:hover i {
    background: #82e6ff;
}

.company-social-c .social-waze a:hover i {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
}

.company-social-c .social-whatsapp a:hover i {
    background: #128c7e;
}

.company-social-c .social-youtube a:hover i {
    background: red;
}


/*UTILIDADES*/

.imagen-80 {
    max-width: 80%
}

.font-16 {
    font-size: 1.6em;
    line-height: 22px;
}

.font-18 {
    font-size: 1.8em;
}

.font-19 {
    font-size: 1.9em;
}

.font-25 {
    font-size: 2.5em;
}

.font-20 {
    font-size: 2em;
}

.fontW-400 {
    font-weight: 400;
}

.fontW-700 {
    font-weight: 700;
}

.brexia-color {
    color: #864566;
}

.paddingTop-5 {
    padding-top: 50px;
}

.paddingTop-4 {
    padding-top: 40px;
}

.paddingTop-3 {
    padding-top: 30px;
}

.paddingTop-2 {
    padding-top: 20px;
}

.paddingBottom-5 {
    padding-bottom: 50px;
}

.paddingBottom-4 {
    padding-bottom: 40px;
}

.paddingBottom-3 {
    padding-bottom: 30px;
}

.paddingBottom-2 {
    padding-bottom: 20px;
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}

.centrar-imagen {
    margin: 0 auto;
}

.encabezados-brexia {
    font-size: 27px;
    font-weight: 800;
}


/*NAV TABS*/

.wrap {
    max-width: 80%;
    margin: 2px auto;
}

ul.tabs {
    width: 100%;
    background: white;
    border: 1px solid #914568;
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

ul.tabs li {
    width: 30%;
    flex-basis: calc(100% - 1rem);
}

.active {
    width: 100%;
    height: 100%;
    background-color: #d6a2b8;
}

ul.tabs li a {
    color: #914568;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 10px 0;
}

ul.tabs li a:focus {
    color: white !important;
}

.secciones {
    width: 48%;
    margin: 0 auto;
    background-color: #fff;
}

.secciones-enumeradas {
    padding-left: 20px;
}

.secciones article {
    text-align: justify;
}

@media screen and (max-width: 886px) {
    ul.tabs li a {
        text-align: center;
        font-size: 1.6em;
        font-weight: 800;
    }
    ul.tabs li {
        width: 100%;
        flex-basis: calc(100% - 1rem);
    }
    .tabs-desktop {
        display: none;
    }
    .secciones {
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
    }
}

@media screen and (min-width: 886px) {
    .tabs-movil {
        display: none;
    }
}